@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
  box-sizing: border-box;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(53, 77, 102);
  position: relative;
  font-family: 'Orbitron', sans-serif;
  color: rgb(19, 218, 184);

}
a {
text-decoration: none;
}
 /*leave these as globals*/

button:hover {
  cursor: pointer;
}

a:hover {
  cursor:pointer;
}

.true {
  background-color: rgb(50, 76, 97);
  color: greenyellow;
  /* border: 1px solid greenyellow; */
}
.false {
  background-color: #420505;
  color: #7a7474;
  border: 1px solid red;
}


button:focus {
  outline: none;
}


 
/* #mobile-header {
  display: none;
} */

/* showing hamburger */
/* @media screen and (max-width: 375px) {
    header#mobile-header {
      display: block;
  }
} */




  /***********************IPAD MEDIA QUERY ***********************/
/* 
  @media screen and (max-width: 959px) {
nav {
  height: 8vh;
  background-color: aqua;
}

.inner-nav-grid-container { 
  border: 1px solid brown;
}
.hero-section {
  margin-top: 8vh;
  height: 28vh;
}
.hero-overlay-text {
  font-size: 1.3em;  
  margin-top: 8vh;
}
#watch-vid-btn {
  font-size: .5em;
  border: 1px solid white;
  border-radius: 200px;
  position: absolute;

  width: 24vw;
  height: 5vh;
  padding: 1vh;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -12vw;
}
  } */
  /*********************** PHONE MEDIA QUERY ***********************/

