/* styled-components, Woohoo! 🎉 :) */
:root {
  /* Local-host*/
  --base: 20px;

  /*production build*/
  /* --base: 30px; */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  body {
    width: 100vw;
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
  }

  @media screen and (max-width: 768px) {   /*tablet query*/
    
  }
  /* @media screen and (max-width: 375px) {   phone query
    :root {
        /* --base: 30px; */
